# ---
# Mac OS
# ---

.DS_Store
* 2*

# ---
# Node
# ---

node_modules

# ---
# Now
# ---

.now

# ---
# Production
# ---

public/tailwind.css
public/dist
public/favicons
*.webp

# ---
# Yarn
# ---

yarn-error.log
