# ---
# Cypress
# ---

cypress/**/*example*
cypress/plugins
cypress/support

# ---
# Jest
# ---

coverage

# ---
# Lighthouse
# ---

.lighthouseci

# ---
# Mac OS
# ---

.DS_Store
* 2*

# ---
# Node
# ---

node_modules

# ---
# Production
# ---

public/bundle.*

# ---
# Yarn
# ---

yarn-error.log
